#slider-historia-2{
    position: absolute;
    top: 3%;
    left: 5%;
    overflow: hidden;
    width: 90%;
    height: 80%;
}
    
#slider-historia-2 > span > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    height: 90%;
    will-change: url; 
    will-change: opacity;

}
#historia-2.first-column{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
#historia-2.first-column > h5{
    color: antiquewhite;
    font-size: 1vw;
    text-align: center;
    position: absolute;
    top: 95%;
    
}
#historia-2-title-slider{
    font-size: 0.9vw !important;
    top: 74% !important;
}



#slider-historia-2 > span.image-slider-b  {
    opacity: 0;
}

#slider-historia-2 > span.image-slider-b.active  {
    opacity: 1;
    transition: 1s ease-in-out;
}

#tlumaczenie-oplczyka-tytul{
    color:antiquewhite; font-size: 2vw; 
    font-weight: 600;
    width: 90%;
    text-align: center;
}
